<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="WinUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<appSettings>
		<add key="SecurityDb" value="SecurityDB" />
		<add key="BusinessDb" value="DeporteAR" />
		<add key="IdiomafolderPath" value="Languages" />
		<add key="IdiomaFileName" value="Idioma" />
		<add key="UltimoIdiomaElegido" value="" />
		<add key="SenderEmail" value="deportear.practicas@gmail.com" />
		<add key="ContraseñaEmail" value="fpvu oclx qmeq trnt" />
		<add key="CanchaRepository" value="MiProyecto.AccesoDatos.SqlServer.CanchaRepositorySql" />
		<add key="ClienteRepository" value="MiProyecto.AccesoDatos.SqlServer.ClienteRepositorySql" />
		<add key="CompeticionRepository" value="MiProyecto.AccesoDatos.SqlServer.CompeticionRepositorySql" />
		<add key="EquipoRepository" value="MiProyecto.AccesoDatos.SqlServer.EquipoRepositorySql" />
		<add key="JugadorRepository" value="MiProyecto.AccesoDatos.SqlServer.JugadorRepositorySql" />
		<add key="CanchaHorarioRepository" value="MiProyecto.AccesoDatos.SqlServer.CanchaHorarioRepositorySql" />
		<add key="FixtureRepository" value="TuProyecto.Datos.FixtureRepositorySql" />
		<add key="ClasificacionRepository" value="TuProyecto.Datos.ClasificacionRepositorySql" />
	</appSettings>
	
	<connectionStrings>
		<add name="SecurityString" connectionString="Data Source=LocalHost\SQLEXPRESS;Initial Catalog=SecurityDB;User ID=securityUser;Password=ayuda253 " />
		<add name="BusinessString" connectionString="Data Source=LocalHost\SQLEXPRESS;Initial Catalog=DeporteAR;User ID=DeporteAR;Password=ayuda253;" />
		<!--<add name="ApplicationString" -->
		<!--;Trust Server Certificate=True-->
	</connectionStrings>
  
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
	<providers>
	  <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
	</providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WinUI.Properties.Settings>
      <setting name="LastLanguage" serializeAs="String">
        <value>es-AR</value>
      </setting>
    </WinUI.Properties.Settings>
  </userSettings>
</configuration>
