/****** Object:  Database [DeporteAR]    Script Date: 12/11/2025 23:10:51 ******/

USE [DeporteAR];
GO

/****** Object:  Table [dbo].[DbCancha]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbCancha](
	[IdCancha] [uniqueidentifier] NOT NULL,
	[Capacidad] [int] NULL,
	[IdDeporte] [uniqueidentifier] NULL,
	[DuracionXPartido] [time](7) NULL,
	[FechaDeCreacion] [datetime] NULL,
	[EstadoCancha] [bit] NULL,
	[Nombre] [varchar](50) NULL,
	[Precio] [varchar](50) NULL,
 CONSTRAINT [PK_Cancha] PRIMARY KEY CLUSTERED 
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbCancha Horario]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbCancha Horario](
	[IdCancha] [uniqueidentifier] NULL,
	[Horario] [datetime] NULL,
	[IdCliente] [uniqueidentifier] NULL,
	[Abonada] [bit] NULL,
	[FueCambiada] [bit] NULL,
	[IdEstadoReserva] [uniqueidentifier] NULL,
	[IdCancha-Horario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Table1] PRIMARY KEY CLUSTERED 
(
	[IdCancha-Horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbCanchaDisponibilidadSemanal]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbCanchaDisponibilidadSemanal](
	[IdDisponibilidad] [uniqueidentifier] NOT NULL,
	[IdCancha] [uniqueidentifier] NOT NULL,
	[DiaSemana] [int] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDisponibilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbClasificacion]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbClasificacion](
	[IdClasificacion] [uniqueidentifier] NOT NULL,
	[CantDerrotas] [int] NULL,
	[CantEmpates] [int] NULL,
	[CantVictorias] [int] NULL,
	[PartidosJugados] [int] NULL,
	[NombreEquipo] [varchar](50) NULL,
	[IdCompeticion] [uniqueidentifier] NULL,
	[GolesAFavor] [int] NOT NULL,
	[Puntos] [int] NOT NULL,
 CONSTRAINT [PK_Clasificacion] PRIMARY KEY CLUSTERED 
(
	[IdClasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbCliente]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbCliente](
	[IdCliente] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbCompeticion]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbCompeticion](
	[IdCompeticion] [uniqueidentifier] NOT NULL,
	[Cupos] [int] NULL,
	[Cupos_min] [int] NULL,
	[Estado] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaInicio] [datetime] NULL,
	[IdFormato] [uniqueidentifier] NULL,
	[FranjaHoraria] [varchar](50) NULL,
	[Frecuencia] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[PrecioInscripcion] [decimal](18, 0) NULL,
	[IdCancha] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Competicion] PRIMARY KEY CLUSTERED 
(
	[IdCompeticion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbDeporte]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbDeporte](
	[IdDeporte] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Deporte] PRIMARY KEY CLUSTERED 
(
	[IdDeporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbEquipo]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbEquipo](
	[IdEquipo] [uniqueidentifier] NOT NULL,
	[CantAusencias] [int] NULL,
	[IdCliente] [uniqueidentifier] NULL,
	[IdEstadoAsistencia] [uniqueidentifier] NULL,
	[FechaDeCreacion] [datetime] NULL,
	[Nombre] [varchar](50) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbEquipoCompeticion]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbEquipoCompeticion](
	[IdCompeticion] [uniqueidentifier] NOT NULL,
	[IdEquipo] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EquipoCompeticion] PRIMARY KEY CLUSTERED 
(
	[IdCompeticion] ASC,
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbEstadoAsistencia]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbEstadoAsistencia](
	[IdEstadoAsistencia] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_EstadoAsistencia] PRIMARY KEY CLUSTERED 
(
	[IdEstadoAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbEstadoFixture]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbEstadoFixture](
	[IdEstadoFixture] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_EstadoFixture] PRIMARY KEY CLUSTERED 
(
	[IdEstadoFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbEstadoReserva]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbEstadoReserva](
	[IdEstadoReserva] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_EstadoReserva] PRIMARY KEY CLUSTERED 
(
	[IdEstadoReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbFixture]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbFixture](
	[IdFixture] [uniqueidentifier] NOT NULL,
	[IdCompeticion] [uniqueidentifier] NULL,
	[IdEstadoFixture] [uniqueidentifier] NULL,
	[Resultado] [varchar](50) NULL,
	[IdCanchaHorario] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Fixture] PRIMARY KEY CLUSTERED 
(
	[IdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbFixtureEquipo]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbFixtureEquipo](
	[IdFixture] [uniqueidentifier] NOT NULL,
	[IdEquipo] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_FixtureEquipo] PRIMARY KEY CLUSTERED 
(
	[IdFixture] ASC,
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbFormato]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbFormato](
	[IdFormato] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Formato] PRIMARY KEY CLUSTERED 
(
	[IdFormato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbJugador]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbJugador](
	[IdJugador] [uniqueidentifier] NOT NULL,
	[IdEquipo] [uniqueidentifier] NULL,
	[Nombre] [varchar](50) NULL,
	[PartidosJugados] [int] NULL,
	[Mvp] [int] NULL,
	[Apellido] [varchar](50) NULL,
	[Habilitado] [bit] NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbPuntuacion]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbPuntuacion](
	[IdPuntuacion] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[IdJugador] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Puntuacion] PRIMARY KEY CLUSTERED 
(
	[IdPuntuacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbReservaHistorial]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbReservaHistorial](
	[IdHistorial] [uniqueidentifier] NOT NULL,
	[IdCanchaHorario] [uniqueidentifier] NOT NULL,
	[IdCliente] [uniqueidentifier] NULL,
	[FechaHoraEvento] [datetime] NOT NULL,
	[EstadoAnterior] [varchar](50) NULL,
	[EstadoNuevo] [varchar](50) NOT NULL,
	[Detalle] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DbSanciones]    Script Date: 12/11/2025 23:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbSanciones](
	[IdSancion] [uniqueidentifier] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[IdJugador] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Sanciones] PRIMARY KEY CLUSTERED 
(
	[IdSancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DbCancha] ([IdCancha], [Capacidad], [IdDeporte], [DuracionXPartido], [FechaDeCreacion], [EstadoCancha], [Nombre], [Precio]) VALUES (N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', 10, N'11be9b1f-89af-4fc7-8ef2-80b7a9b84903', CAST(N'01:00:00' AS Time), CAST(N'2025-11-12T22:48:59.133' AS DateTime), 1, N'aaaaa', N'1000')
GO
INSERT [dbo].[DbCancha Horario] ([IdCancha], [Horario], [IdCliente], [Abonada], [FueCambiada], [IdEstadoReserva], [IdCancha-Horario]) VALUES (N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', CAST(N'2025-11-18T09:00:00.000' AS DateTime), NULL, 0, 0, N'e1b7c1a0-3d5f-4e9b-8a2d-0c7e9f1a2b3c', N'615ba87a-c280-40c0-9066-0694115f1455')
INSERT [dbo].[DbCancha Horario] ([IdCancha], [Horario], [IdCliente], [Abonada], [FueCambiada], [IdEstadoReserva], [IdCancha-Horario]) VALUES (N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', CAST(N'2025-11-17T13:00:00.000' AS DateTime), NULL, 0, 0, N'e1b7c1a0-3d5f-4e9b-8a2d-0c7e9f1a2b3c', N'd427b981-fd01-4690-8d98-0906b0ac5169')
INSERT [dbo].[DbCancha Horario] ([IdCancha], [Horario], [IdCliente], [Abonada], [FueCambiada], [IdEstadoReserva], [IdCancha-Horario]) VALUES (N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', CAST(N'2025-11-13T11:00:00.000' AS DateTime), NULL, 0, 0, N'e1b7c1a0-3d5f-4e9b-8a2d-0c7e9f1a2b3c', N'a56a9d43-957e-4b12-8d04-0b050b45b016')
GO
INSERT [dbo].[DbCanchaDisponibilidadSemanal] ([IdDisponibilidad], [IdCancha], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (N'a109a6d9-4864-423c-a378-8307d3684ca4', N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', 2, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[DbCanchaDisponibilidadSemanal] ([IdDisponibilidad], [IdCancha], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (N'b2a44ffc-5839-4d82-98bd-9138ca3753d7', N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', 3, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[DbCanchaDisponibilidadSemanal] ([IdDisponibilidad], [IdCancha], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (N'efa4f3ed-be6a-4de1-9acf-a208eb3d0b77', N'b539cacc-8e1d-4a36-a8ea-2e13c520c129', 1, CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time))
GO
INSERT [dbo].[DbDeporte] ([IdDeporte], [Descripcion]) VALUES (N'11be9b1f-89af-4fc7-8ef2-80b7a9b84903', N'Futbol')
INSERT [dbo].[DbDeporte] ([IdDeporte], [Descripcion]) VALUES (N'd2804815-38e7-43c6-93c1-d5d5689e52f2', N'Basket')
GO
INSERT [dbo].[DbEstadoAsistencia] ([IdEstadoAsistencia], [Descripcion]) VALUES (N'a2912896-476e-42b7-8a8a-0067638ff79e', N'Confirmado')
INSERT [dbo].[DbEstadoAsistencia] ([IdEstadoAsistencia], [Descripcion]) VALUES (N'4788b15a-b947-4ff9-a65e-412edaf60f92', N'Pendiente')
INSERT [dbo].[DbEstadoAsistencia] ([IdEstadoAsistencia], [Descripcion]) VALUES (N'1a128550-27cd-4e81-bbfa-569727a390c3', N'Cancelado')
GO
INSERT [dbo].[DbEstadoFixture] ([IdEstadoFixture], [Descripcion]) VALUES (N'cbc17999-651a-4fd3-98e7-19af78a6343c', N'Pendiente')
INSERT [dbo].[DbEstadoFixture] ([IdEstadoFixture], [Descripcion]) VALUES (N'e4227622-f27f-4207-98ba-31c5e9a5c9fd', N'Postergado')
INSERT [dbo].[DbEstadoFixture] ([IdEstadoFixture], [Descripcion]) VALUES (N'7f8d95b5-ec6d-4810-985e-8e4df253be3e', N'Finalizado')
GO
INSERT [dbo].[DbEstadoReserva] ([IdEstadoReserva], [Descripcion]) VALUES (N'bcdb5b67-1834-428f-ac78-064ff3abe559', N'Cancelada')
INSERT [dbo].[DbEstadoReserva] ([IdEstadoReserva], [Descripcion]) VALUES (N'e1b7c1a0-3d5f-4e9b-8a2d-0c7e9f1a2b3c', N'Libre')
INSERT [dbo].[DbEstadoReserva] ([IdEstadoReserva], [Descripcion]) VALUES (N'05b3eec1-b28d-47a2-b7d0-3e4320903ece', N'OcupadoPorTorneo')
GO
INSERT [dbo].[DbFormato] ([IdFormato], [Descripcion]) VALUES (N'5ffa595e-11eb-4148-8195-87c891e3e472', N'Liga')
GO
/****** Object:  Index [IXFK_Cancha_Deporte]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Cancha_Deporte] ON [dbo].[DbCancha]
(
	[IdDeporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Cancha_EstadoCancha]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Cancha_EstadoCancha] ON [dbo].[DbCancha]
(
	[EstadoCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Cancha Horario_Cancha]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Cancha Horario_Cancha] ON [dbo].[DbCancha Horario]
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Cancha Horario_Cliente]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Cancha Horario_Cliente] ON [dbo].[DbCancha Horario]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Cancha Horario_EstadoReserva]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Cancha Horario_EstadoReserva] ON [dbo].[DbCancha Horario]
(
	[IdEstadoReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Disponibilidad_CanchaDia]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IX_Disponibilidad_CanchaDia] ON [dbo].[DbCanchaDisponibilidadSemanal]
(
	[IdCancha] ASC,
	[DiaSemana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Clasificacion_Competicion]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Clasificacion_Competicion] ON [dbo].[DbClasificacion]
(
	[IdCompeticion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Competicion_Cancha]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Competicion_Cancha] ON [dbo].[DbCompeticion]
(
	[IdCancha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Competicion_Formato]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Competicion_Formato] ON [dbo].[DbCompeticion]
(
	[IdFormato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Equipo_Cliente]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Equipo_Cliente] ON [dbo].[DbEquipo]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Equipo_EstadoAsistencia]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Equipo_EstadoAsistencia] ON [dbo].[DbEquipo]
(
	[IdEstadoAsistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_EquipoCompeticion_Competicion]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_EquipoCompeticion_Competicion] ON [dbo].[DbEquipoCompeticion]
(
	[IdCompeticion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_EquipoCompeticion_Equipo]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_EquipoCompeticion_Equipo] ON [dbo].[DbEquipoCompeticion]
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Fixture_Competicion]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Fixture_Competicion] ON [dbo].[DbFixture]
(
	[IdCompeticion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Fixture_EstadoFixture]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Fixture_EstadoFixture] ON [dbo].[DbFixture]
(
	[IdEstadoFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_FixtureEquipo_Equipo]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_FixtureEquipo_Equipo] ON [dbo].[DbFixtureEquipo]
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_FixtureEquipo_Fixture]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_FixtureEquipo_Fixture] ON [dbo].[DbFixtureEquipo]
(
	[IdFixture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Jugador_Equipo]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Jugador_Equipo] ON [dbo].[DbJugador]
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Puntuacion_Jugador]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Puntuacion_Jugador] ON [dbo].[DbPuntuacion]
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historial_CanchaHorario]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IX_Historial_CanchaHorario] ON [dbo].[DbReservaHistorial]
(
	[IdCanchaHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IXFK_Sanciones_Jugador]    Script Date: 12/11/2025 23:10:51 ******/
CREATE NONCLUSTERED INDEX [IXFK_Sanciones_Jugador] ON [dbo].[DbSanciones]
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DbCancha] ADD  DEFAULT (getdate()) FOR [FechaDeCreacion]
GO
ALTER TABLE [dbo].[DbCanchaDisponibilidadSemanal] ADD  DEFAULT (newid()) FOR [IdDisponibilidad]
GO
ALTER TABLE [dbo].[DbClasificacion] ADD  DEFAULT ((0)) FOR [GolesAFavor]
GO
ALTER TABLE [dbo].[DbClasificacion] ADD  DEFAULT ((0)) FOR [Puntos]
GO
ALTER TABLE [dbo].[DbEquipo] ADD  DEFAULT (getdate()) FOR [FechaDeCreacion]
GO
ALTER TABLE [dbo].[DbEquipo] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[DbJugador] ADD  DEFAULT ((1)) FOR [Habilitado]
GO
ALTER TABLE [dbo].[DbReservaHistorial] ADD  DEFAULT (newid()) FOR [IdHistorial]
GO
ALTER TABLE [dbo].[DbReservaHistorial] ADD  DEFAULT (getdate()) FOR [FechaHoraEvento]
GO
ALTER TABLE [dbo].[DbCancha]  WITH CHECK ADD  CONSTRAINT [FK_Cancha_Deporte] FOREIGN KEY([IdDeporte])
REFERENCES [dbo].[DbDeporte] ([IdDeporte])
GO
ALTER TABLE [dbo].[DbCancha] CHECK CONSTRAINT [FK_Cancha_Deporte]
GO
ALTER TABLE [dbo].[DbCancha Horario]  WITH CHECK ADD  CONSTRAINT [FK_Cancha Horario_Cancha] FOREIGN KEY([IdCancha])
REFERENCES [dbo].[DbCancha] ([IdCancha])
GO
ALTER TABLE [dbo].[DbCancha Horario] CHECK CONSTRAINT [FK_Cancha Horario_Cancha]
GO
ALTER TABLE [dbo].[DbCancha Horario]  WITH CHECK ADD  CONSTRAINT [FK_Cancha Horario_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[DbCliente] ([IdCliente])
GO
ALTER TABLE [dbo].[DbCancha Horario] CHECK CONSTRAINT [FK_Cancha Horario_Cliente]
GO
ALTER TABLE [dbo].[DbCancha Horario]  WITH CHECK ADD  CONSTRAINT [FK_Cancha Horario_EstadoReserva] FOREIGN KEY([IdEstadoReserva])
REFERENCES [dbo].[DbEstadoReserva] ([IdEstadoReserva])
GO
ALTER TABLE [dbo].[DbCancha Horario] CHECK CONSTRAINT [FK_Cancha Horario_EstadoReserva]
GO
ALTER TABLE [dbo].[DbCanchaDisponibilidadSemanal]  WITH CHECK ADD  CONSTRAINT [FK_Disponibilidad_Cancha] FOREIGN KEY([IdCancha])
REFERENCES [dbo].[DbCancha] ([IdCancha])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DbCanchaDisponibilidadSemanal] CHECK CONSTRAINT [FK_Disponibilidad_Cancha]
GO
ALTER TABLE [dbo].[DbClasificacion]  WITH CHECK ADD  CONSTRAINT [FK_Clasificacion_Competicion] FOREIGN KEY([IdCompeticion])
REFERENCES [dbo].[DbCompeticion] ([IdCompeticion])
GO
ALTER TABLE [dbo].[DbClasificacion] CHECK CONSTRAINT [FK_Clasificacion_Competicion]
GO
ALTER TABLE [dbo].[DbCompeticion]  WITH CHECK ADD  CONSTRAINT [FK_Competicion_Cancha] FOREIGN KEY([IdCancha])
REFERENCES [dbo].[DbCancha] ([IdCancha])
GO
ALTER TABLE [dbo].[DbCompeticion] CHECK CONSTRAINT [FK_Competicion_Cancha]
GO
ALTER TABLE [dbo].[DbCompeticion]  WITH CHECK ADD  CONSTRAINT [FK_Competicion_Formato] FOREIGN KEY([IdFormato])
REFERENCES [dbo].[DbFormato] ([IdFormato])
GO
ALTER TABLE [dbo].[DbCompeticion] CHECK CONSTRAINT [FK_Competicion_Formato]
GO
ALTER TABLE [dbo].[DbEquipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[DbCliente] ([IdCliente])
GO
ALTER TABLE [dbo].[DbEquipo] CHECK CONSTRAINT [FK_Equipo_Cliente]
GO
ALTER TABLE [dbo].[DbEquipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_EstadoAsistencia] FOREIGN KEY([IdEstadoAsistencia])
REFERENCES [dbo].[DbEstadoAsistencia] ([IdEstadoAsistencia])
GO
ALTER TABLE [dbo].[DbEquipo] CHECK CONSTRAINT [FK_Equipo_EstadoAsistencia]
GO
ALTER TABLE [dbo].[DbEquipoCompeticion]  WITH CHECK ADD  CONSTRAINT [FK_EquipoCompeticion_Competicion] FOREIGN KEY([IdCompeticion])
REFERENCES [dbo].[DbCompeticion] ([IdCompeticion])
GO
ALTER TABLE [dbo].[DbEquipoCompeticion] CHECK CONSTRAINT [FK_EquipoCompeticion_Competicion]
GO
ALTER TABLE [dbo].[DbEquipoCompeticion]  WITH CHECK ADD  CONSTRAINT [FK_EquipoCompeticion_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[DbEquipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[DbEquipoCompeticion] CHECK CONSTRAINT [FK_EquipoCompeticion_Equipo]
GO
ALTER TABLE [dbo].[DbFixture]  WITH CHECK ADD  CONSTRAINT [FK_Fixture_CanchaHorario] FOREIGN KEY([IdCanchaHorario])
REFERENCES [dbo].[DbCancha Horario] ([IdCancha-Horario])
GO
ALTER TABLE [dbo].[DbFixture] CHECK CONSTRAINT [FK_Fixture_CanchaHorario]
GO
ALTER TABLE [dbo].[DbFixture]  WITH CHECK ADD  CONSTRAINT [FK_Fixture_Competicion] FOREIGN KEY([IdCompeticion])
REFERENCES [dbo].[DbCompeticion] ([IdCompeticion])
GO
ALTER TABLE [dbo].[DbFixture] CHECK CONSTRAINT [FK_Fixture_Competicion]
GO
ALTER TABLE [dbo].[DbFixture]  WITH CHECK ADD  CONSTRAINT [FK_Fixture_EstadoFixture] FOREIGN KEY([IdEstadoFixture])
REFERENCES [dbo].[DbEstadoFixture] ([IdEstadoFixture])
GO
ALTER TABLE [dbo].[DbFixture] CHECK CONSTRAINT [FK_Fixture_EstadoFixture]
GO
ALTER TABLE [dbo].[DbFixtureEquipo]  WITH CHECK ADD  CONSTRAINT [FK_FixtureEquipo_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[DbEquipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[DbFixtureEquipo] CHECK CONSTRAINT [FK_FixtureEquipo_Equipo]
GO
ALTER TABLE [dbo].[DbFixtureEquipo]  WITH CHECK ADD  CONSTRAINT [FK_FixtureEquipo_Fixture] FOREIGN KEY([IdFixture])
REFERENCES [dbo].[DbFixture] ([IdFixture])
GO
ALTER TABLE [dbo].[DbFixtureEquipo] CHECK CONSTRAINT [FK_FixtureEquipo_Fixture]
GO
ALTER TABLE [dbo].[DbJugador]  WITH CHECK ADD  CONSTRAINT [FK_Jugador_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[DbEquipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[DbJugador] CHECK CONSTRAINT [FK_Jugador_Equipo]
GO
ALTER TABLE [dbo].[DbPuntuacion]  WITH CHECK ADD  CONSTRAINT [FK_Puntuacion_Jugador] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[DbJugador] ([IdJugador])
GO
ALTER TABLE [dbo].[DbPuntuacion] CHECK CONSTRAINT [FK_Puntuacion_Jugador]
GO
ALTER TABLE [dbo].[DbSanciones]  WITH CHECK ADD  CONSTRAINT [FK_Sanciones_Jugador] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[DbJugador] ([IdJugador])
GO
ALTER TABLE [dbo].[DbSanciones] CHECK CONSTRAINT [FK_Sanciones_Jugador]
GO
