<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SecurityString" connectionString="Data Source=LocalHost\SQLEXPRESS;Initial Catalog=SecurityDB;User ID=securityUser;Password=ayuda253 "/>
		<!--<add name="ApplicationString" -->
		<!--;Trust Server Certificate=True-->
	</connectionStrings>
</configuration>